<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
        backupGlobals="true"
        bootstrap="./vendor/autoload.php"
        cacheResult="false"
        colors="true">
        <testsuites>
            <testsuite name="jaeger-php">
                <directory>./tests/</directory>
            </testsuite>
        </testsuites>
        <filter>
            <whitelist>
                <directory>./src</directory>
                <exclude>
                    <file>./src/Jaeger/Reporter/Reporter.php</file>
                    <file>./src/Jaeger/Sampler/Sampler.php</file>
                    <file>./src/Jaeger/Transport/Transport.php</file>
                    <file>./src/Jaeger/Thrift</file>
                </exclude>
            </whitelist>
        </filter>
        <logging>
            <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
            <log type="coverage-clover" target="build/logs/clover.xml"/>
        </logging>
</phpunit>
